@import '../../../shared/styles/constants/colors';
@import '../../../shared/styles/selectable-button';

.container {
  width: 400px;
  padding: 10px;
  display: flex;
  min-height: 52px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  @include selectable-button;
  // This is necessary for the animation to work when focus.
  // It's essentialy meant to help keyboard-only users.
  transform: scale(1);

  &.selected {
    background-color: $secondary-color-lighter;
  }

  &:not(.disabled):hover, &:focus {
    background-color: $secondary-color-lighter;
  }

  &:focus, &.selected {
    transform: scale(1.025) !important;
  }

  &:focus {
    outline: 0;
  }

  @media only screen and (max-width: 480px) {
    width: 300px;
  }
}
