@import '../../../shared/styles/constants/colors';
@import '../../../shared/styles/selectable-button';

.container {
  width: 400px;
  padding: 10px;
  display: flex;
  min-height: 52px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  @include selectable-button;

  &.selected {
    background-color: $secondary-color-lighter;
  }

  &:not(.disabled):hover {
    background-color: $secondary-color-lighter;
  }

  @media only screen and (max-width: 480px) {
    width: 300px;
  }
}
