@import '../../../../shared/styles/constants/flags';

.flagsWrapper {
  overflow-y: auto;
}

.flagsContainer {
  max-width: $flag-width * 3.5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
